<block name="body"> <extend name="Base/common" />
<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<include file="Public:top" />
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-4">
				<h2>产品库</h2>
				<div>
                     <a href="{:U('Productinfo/product_launch')}" style="color:white" class="btn btn-primary">添加产品</a>
                 </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="wrapper wrapper-content animated fadeInUp">

					<div class="ibox">
						<div class="ibox-title">
							<h5>所有产品</h5>
							<div class="ibox-tools">
								<a href="projects.html" class="btn btn-primary btn-xs">创建新项目</a>
							</div>
						</div>
						<div class="ibox-content">
							<div class="row m-b-sm m-t-sm">
								<div class="col-md-1">
									<button type="button" id="loading-example-btn"
										class="btn btn-white btn-sm">
										<i class="fa fa-refresh"></i>
										刷新
									</button>
								</div>
								<div class="col-md-11">
									<div class="input-group">
										<input type="text" placeholder="请输入产品名称"
											class="input-sm form-control">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-primary">
												搜索</button>
										</span>
									</div>
								</div>
							</div>

							<div class="project-list">

								<table class="table table-hover">
									<tbody>
									<if condition="$info eq null">
										<tr>
											<td colspan="6" class="project-title">暂无数据....</td>
										</tr>
									<else/>
										<volist name="info" id="data">
											
											<tr>
												<td class="project-status">
													
														<if condition="$data['status'] eq 0 ">
															<span class="label label-primary">锁定期内</span>
														<elseif condition="$data['status'] eq 1"/>
															<span class="label label-primary">销售中</span>
														<elseif condition="$data['status'] eq 2"/>
															<span class="label label-default">已售罄</span>
														<elseif condition="$data['status'] eq 3"/>
															<span class="label label-default">转让中</span>
														</if>
													</span>
												</td>
												<td class="project-title">
													<a href="{:U('Productinfo/product_detail?id='.$data['id'])}">{$data.pname}</a>
													<br />
													<small>{$data.pro_label}</small>&nbsp;&nbsp;&nbsp;&nbsp;<small>创建于 {$data.add_time}</small>
												</td>
												<td class="project-completion">
													<small>交易模式：{$data.pro_model}</small>
												</td>
												<td class="project-completion">
													<small>单价：{$data.rate}</small>
												</td>
												<td class="project-completion">
													<small>数量：{$data.pro_num}</small>
													
												</td>
												
												<td class="project-actions">
													<a href="{:U('Productinfo/product_detail?id='.$data['id'])}" class="btn btn-white btn-sm">
														<i class="fa fa-folder"></i>
														查看
													</a>
													<a href="{:U('Productinfo/product_edit')}" class="btn btn-white btn-sm">
														<i class="fa fa-pencil"></i>
														编辑
													</a>
												</td>
											</tr>
										</volist>
									</if>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="Public:footer" />
	</div>
</div>
</div>
<script>
        $(document).ready(function(){

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)
                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script> 
    
</block>

