<block name="body">
<extend name="Base/common" />
<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<include file="Public:top" />
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2>产品发布</h2>
				<ol class="breadcrumb">
					<li>
						<a href="index.html">主页</a>
					</li>
					<li>
						<strong>产品信息提交</strong>
					</li>
				</ol>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-lg-7">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>产品信息填写</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a class="dropdown-toggle" data-toggle="dropdown"
									href="form_wizard.html#">
									<i class="fa fa-wrench"></i>
								</a>
								<a class="close-link">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<form method="post" class="form-horizontal">
							<div class="ibox-content">
								<div id="wizard">
									<div class="step-content">
										<div class="text-center m-t-md">
											<h2>产品信息</h2>
											<p>
												带
												<label style="color: red;">*</label>
												号的必填
											</p>
											<div class="ibox-content">
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品标题：
													</label>
													<div class="col-sm-10">
														<input type="text" name="title" class="form-control">
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品名称：
													</label>
													<div class="col-sm-10">
														<input type="text" name="pname" class="form-control">
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品类型：
													</label>
													<div class="col-sm-10">
														<input type="text" name="type" class="form-control">
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品售价：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5" size="14" name="price" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品年化率：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="6" name="rate" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品数量：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/\D./g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="8" name="pro_num" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品锁定期：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/\D./g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="2" name="lock_time" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品销售周期：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/\D./g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="2" name="sale_time" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品模式：
													</label>
													<div class="col-sm-10">
														<select name="pro_model" class="form-control">
															<option value=""></option>
															<option value="0">线下</option>
															<option value="1">线上</option>
														</select>
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														最低购买份额：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/\D./g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="2" name="buy-min" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														最高购买份额：
													</label>
													<div class="col-sm-10">
														<input  class="form-control" onkeyup="this.value=this.value.replace(/\D./g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="2" name="max-min" type="text" />
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-2 control-label">
														<label style="color: red;">*</label>
														产品介绍：
													</label>
													<div class="col-sm-10">
														<textarea name="info" id="" cols="160" rows="30"></textarea>
													</div>
												</div>
												<div class="hr-line-dashed"></div>
											</div>
												<button type="submit" class="btn btn-block btn-outline btn-primary">确认发布</button>
										</div>
									</div>


								</div>
							</div>
						</form>
					</div>
				</div>
				<include file="Public:footer" />
			</div>


		</div>
</block>

