	<include file="Public:head"/>
	<!--头部-->
	<include file="Public:top"/>
			<!--轮播图	banner start-->
		<div class="banOut">
			<!--banner start-->
			<ul class="ban">
				<li style="background: url(__PUBLIC__/Home/images/ban01.png) no-repeat center top; z-index: 1;"></li>
				<li style="background: url(__PUBLIC__/Home/images/ban02.png) no-repeat center top;"></li>
			</ul>
			<!--banner end-->
			
			<!--网站公告		notice start-->
			<div class="noticeOut">
				<div class="noticeIn">
					<ul class="noticeCon">
						<li><a href="javascript:;">尊敬的用户您好！为提供更稳定、便捷、高效的服务，我司将于6月30日23:00-06:00进行系统全面升级维护，期间建议您暂停本网站的任何操作，由此给您带来的不便，敬请谅解!</a></li>
						<li><a href="javascript:;">尊敬的用户您好！为提供更稳定、便捷、高效的服务，我司将于6月30日23:00-06:00进行系统全面升级维护，期间建议您暂停本网站的任何操作...</a></li>
						<li><a href="javascript:;">尊敬的用户您好！为提供更稳定、便捷、高效的服务，我司将于6月30日23:00-06:00进行系统全面升级维护，期间建议您暂停本网站的任何操作，由此给您带来的不便</a></li>
				</ul>
				</div>
			</div>
			<!--网站公告		notice end-->
			
			<!--按钮	开始-->
			<div class="banBtnL"><img src="__PUBLIC__/Home/images/left.png"/></div>
			<div class="banBtnR"><img src="__PUBLIC__/Home/images/right.png"/></div>
			<!--按钮	结束-->
		</div>
		<!--轮播图	banner end-->
		
		<!--ghcfData start-->
		<div class="dataOut">
			<div class="dataIn">
				<!--dataL start-->
				<div class="dataL">
					<p>平台用户<br />累计超过</p>
					<strong>500,000</strong>
					<span>人</span>
				</div>
				<!--dataL end-->
				<!--dataC start-->
				<div class="dataC">
					<p>&nbsp;累计为用户带来收益超过</p>
					<strong>7&nbsp;5&nbsp;6&nbsp;4</strong>
					<span>万元</span>
				</div>
				<!--dataC end-->
				<!--dataR start-->
				<ul class="dataR">
					<li class="li01"><a href="javascript:;">理财产品</a></li>
					<li class="li02"><a href="javascript:;">官方微信</a></li>
					<li class="li03"><a href="javascript:;">定向产品</a></li>
					<li class="li04"><a href="http://weibo.com/u/5385565766?topnav=1&wvr=6&topsug=1" target="_blank">官方微博</a></li>
				</ul>
				<!--dataR end-->
				<!--鼠标滑过官方微信效果	start-->
				<div class="wxCode2"><img src="__PUBLIC__/Home/images/wxCode2.png"/></div>
				<!--鼠标滑过官方微信效果	end-->
			</div>
		</div>
		<!--ghcfData end-->
		
		<!--content start-->
		<div class="con">
			<!--conL start-->
			<div class="conL">
				<!--新手专享	newHand start-->
				<div class="newHand">
					<!--top start-->
					<div class="top">
						<div class="tit">
							<h2>新手体验标</h2>
							<p>新手专享，项目金额无上限。</p>
						</div>
						<div class="button">
							<a href="javascript:;" class="details">详 情</a>
							<a href="javascript:;" class="bid">立即投标</a>
						</div>
					</div>
					<!--top end-->
					<!--bot start-->
					<div class="bot">
						<div class="botL">
							<p>年利率:&nbsp;&nbsp;<b>13.8</b>%</p>
							<p>售价：<span>50.00</span>元/块</p>
						</div>
						<div class="botC">
							<p>期限:&nbsp;&nbsp;<b>3</b>天</p>
							<p>发布时间：<span>2015-06-10</span></p>
						</div>
						<div class="botR">
							<p><b>已投：100块</b><strong>可投：456块</strong></p>
							<div class="out"><div class="in"></div></div>
						</div>
					</div>
					<!--bot end-->
				</div>
				<!--新手专享	newHand end-->
				<!--产品列表	proList start-->
				<div class="proList">
					<!--分类标题	proListTit start-->
					<ul class="proListTit">
						<li class="cur">最新投资项目</li>
						<li>产品转让</li>
					</ul>
					<!--分类标题	proListTit end-->
					<!--产品列表内容	proListCon start-->
					<div class="proListCon">
						<!--tab start-->
						<div class="tab">
						    <foreach name='pro' item='po'>
							    <div class="list">
									<h3>
										<strong><a href="javascript:;">{$po.pname}</a></strong>
										<span>发布时间：<b>{$po.add_time}</b></span>
									</h3>
									<ul>
										<li><p>{$po.year_rate}</p>年化收益率( % )</li>
										<li><p>{$po.complete}</p>锁定期限（天）</li>
										<li><p>{$po.price}</p>发售价格( 元/块 )</li> 
										<li>
											<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
											<div class="out"><div class="in"></div></div>
											<div class="perc">( 26.7% )</div>
										</li> 
										<li class="last"><a href="{:U('Products/chanpinxiangqing')}" class="btn">查看详情</a></li>
									</ul>
								</div>
						    </foreach>
							<!--01-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 1 号</a></strong>
									<span>发布时间：<b> 2015-06-10</b></span>
								</h3>
								<ul>
									<li><p>10.60</p>年化收益率( % )</li>
									<li><p>1080</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 26.7% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">查看详情</a></li>
								</ul>
							</div>
							<!--02-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 1 号</a></strong>
									<span>发布时间：<b> 2015-06-10</b></span>
								</h3>
								<ul>
									<li><p>10.60</p>年化收益率( % )</li>
									<li><p>1080</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 26.7% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">查看详情</a></li>
								</ul>
							</div>
							<!--03-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 1 号</a></strong>
									<span>发布时间：<b> 2015-06-10</b></span>
								</h3>
								<ul>
									<li><p>10.60</p>年化收益率( % )</li>
									<li><p>1080</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 26.7% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">查看详情</a></li>
								</ul>
							</div>
							<!--04-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 1 号</a></strong>
									<span>发布时间：<b> 2015-06-10</b></span>
								</h3>
								<ul>
									<li><p>10.60</p>年化收益率( % )</li>
									<li><p>1080</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 26.7% )</div>
									</li>
									<li class="last"><a href="javascript:;" class="btn">查看详情</a></li>
								</ul>
							</div>
							<!--05-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 1 号</a></strong>
									<span>发布时间：<b> 2015-06-10</b></span>
								</h3>
								<ul>
									<li><p>10.60</p>年化收益率( % )</li>
									<li><p>1080</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 26.7% )</div>
									</li>
									<li class="last"><a href="javascript:;" class="btn">查看详情</a></li>
								</ul>
							</div>
							<!--06-->
							<div class="list" style="border-bottom: none;">
								<h3>
									<strong><a href="javascript:;">美 桔 1 号</a></strong>
									<span>发布时间：<b> 2015-06-10</b></span>
								</h3>
								<ul>
									<li><p>10.60</p>年化收益率( % )</li>
									<li><p>1080</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已投：245块</b><strong>可投：673块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 26.7% )</div>
									</li>
									<li class="last"><a href="javascript:;" class="btn">查看详情</a></li>
								</ul>
							</div>
						</div>
						<!--tab end-->
						
						<!--tab start-->
						<div class="tab" style="display: none;">
							<!--01-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 7 号</a></strong>
									<span>发布时间：<b> 2015-06-18</b></span>
								</h3>
								<ul>
									<li><p>9.60</p>年化收益率( % )</li>
									<li><p>93</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已转：145块</b><strong>可转：635块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 18.6% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">立即购买</a></li>
								</ul>
							</div>
							<!--02-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 7 号</a></strong>
									<span>发布时间：<b> 2015-06-18</b></span>
								</h3>
								<ul>
									<li><p>9.60</p>年化收益率( % )</li>
									<li><p>93</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已转：145块</b><strong>可转：635块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 18.6% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">立即购买</a></li>
								</ul>
							</div>
							<!--03-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 7 号</a></strong>
									<span>发布时间：<b> 2015-06-18</b></span>
								</h3>
								<ul>
									<li><p>9.60</p>年化收益率( % )</li>
									<li><p>93</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已转：145块</b><strong>可转：635块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 18.6% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">立即购买</a></li>
								</ul>
							</div>
							<!--04-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 7 号</a></strong>
									<span>发布时间：<b> 2015-06-18</b></span>
								</h3>
								<ul>
									<li><p>9.60</p>年化收益率( % )</li>
									<li><p>93</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已转：145块</b><strong>可转：635块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 18.6% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">立即购买</a></li>
								</ul>
							</div>
							<!--05-->
							<div class="list">
								<h3>
									<strong><a href="javascript:;">美 桔 7 号</a></strong>
									<span>发布时间：<b> 2015-06-18</b></span>
								</h3>
								<ul>
									<li><p>9.60</p>年化收益率( % )</li>
									<li><p>93</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已转：145块</b><strong>可转：635块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 18.6% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">立即购买</a></li>
								</ul>
							</div>
							<!--06-->
							<div class="list" style="border-bottom: none;">
								<h3>
									<strong><a href="javascript:;">美 桔 7 号</a></strong>
									<span>发布时间：<b> 2015-06-18</b></span>
								</h3>
								<ul>
									<li><p>9.60</p>年化收益率( % )</li>
									<li><p>93</p>锁定期限（天）</li>
									<li><p>1000.00</p>发售价格( 元/块 )</li> 
									<li>
										<div class="num"><b>已转：145块</b><strong>可转：635块</strong></div>
										<div class="out"><div class="in"></div></div>
										<div class="perc">( 18.6% )</div>
									</li> 
									<li class="last"><a href="javascript:;" class="btn">立即购买</a></li>
								</ul>
							</div>
						</div>
						<!--tab end-->
					</div>
					<!--产品列表内容	proListCon end-->
				</div>	
				<!--产品列表	proList end-->
			</div>
			<!--conL end-->
			<!--conR start-->
			<div class="conR">
				<!--网站公告	开始-->
				<div class="news">
					<p><img src="__PUBLIC__/Home/images/conRNewsPic01.gif"/></p>
					<div class="newsCon">
						<h2><strong>网站公告</strong><a href="{:U('Index/newlist')}">more</a></h2>
						<ul>
						<foreach name='art' item='vo'>
							<li><a href="{:U('Index/newdetail?id='.$vo['id'])}">{$vo.title}</a></li>
						</foreach>
						</ul>
					</div>
				</div>
				<!--网站公告	结束-->
				<!--行业新闻	开始-->
				<div class="news">
					<p><img src="__PUBLIC__/Home/images/conRNewsPic02.gif"/></p>
					<div class="newsCon">
						<h2><strong>行业新闻</strong><a href="{:U('Index/newlist')}">more</a></h2>
						<ul>
						<foreach name='art' item='vo'>
							<li><a href="{:U('Index/newdetail?id='.$vo['id'])}">{$vo.title}</a></li>
						</foreach>
						</ul>
					</div>
				</div>
				<!--行业新闻	结束-->
			</div>
			<!--conR end-->
		</div>
		<!--content end-->
		
		<!--广告	ad start-->
		<div class="ad"></div>
		<!--广告	ad end-->
		
		<!--fModular	四模块	start-->
		<div class="fModular">
			<ul>
				<li>
					<p>工合财富是一个实名认证平台，会保证用户信息隐私的绝对安全，用户在平台上交流的过程中，也要时刻注意保护个人隐私，截图注意要覆盖个人信息，不要透露真丝姓名与住址等，以防个人信息被盗取造成损失。</p>
					<a href="javascript:;" class="btn">了 解 详 情</a>
				</li>
				<li class="two">
					<p>新手指引可以帮助用户更深入了解平台的相管规则，更好的指引用户使用平台，解决用户在投资购买过程与遇到的问题。不作为任何投资建议与依据。</p>
					<a href="javascript:;" class="btn">了 解 详 情</a>
				</li>
				<li class="three">
					<p>常见问题可以帮助用户更详细的了解平台的一些操作方法，更好的帮助用户使用平台，解决用户在投资购买过程与遇到的问题。不作为任何投资建议与依据。</p>
					<a href="javascript:;" class="btn">了 解 详 情</a>
				</li>
				<li class="four">
					<p>企业文化：融通四海、助推发展<br />投资策略：两会互动、双优并举 <br />核心团队：顾问团队、管理团队、法律团队、专业团队<br /></p>
					<a href="javascript:;" class="btn">了 解 详 情</a>
				</li>
			</ul>
		</div>
		<!--fModular	四模块	end-->
				<!--合作伙伴	partner start-->
		<div class="partO">
			<div class="part">
				<h3>合作伙伴</h3>
				<ul>
					<li><img src="__PUBLIC__/Home/images/jsbank.gif"/></li>
					<li><img src="__PUBLIC__/Home/images/nybank.gif"/></li>
					<li><img src="__PUBLIC__/Home/images/zsbank.gif"/></li>
					<li><img src="__PUBLIC__/Home/images/gdbank.gif"/></li>
					<li class="last"><img src="__PUBLIC__/Home/images/guofubao.gif"/></li>
				</ul>
			</div>
		</div>
		<!--合作伙伴	partner end-->
		
		<!--立即体验	taste start-->
		<div class="taste">
			<a href="javascript:;"></a>
		</div>
		<!--立即体验	taste end-->
		<include file="Public:footer"/>