	<include file="Public:head"/>
	<!--头部-->
	<include file="Public:top"/>	
				
		<!--有关公司		about	  start-->
		<div class="about">
			<!--左边栏	start-->
			<ul class="aboutL">
				<li class="cur"><a href="javascript:;">网站公告</a></li>
				<li><a href="javascript:;">新闻动态</a></li>
				<li><a href="javascript:;">行业新闻</a></li>
				<li><a href="javascript:;">关于我们</a></li>
				<li><a href="javascript:;">公司简介</a></li>
			</ul>
			<!--左边栏	end-->
			
			<div class="aboutR">
				<!--网站公告列表  	start-->
				<div class="aboutList tab">
					<ul>				
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>		
					</ul>
				</div>
				<!--网站公告列表  end-->
				
				<!--新闻动态列表		start-->
				<div class="aboutList tab" style="display: none;">
					<ul>				
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>		
					</ul>
				</div>
				<!--新闻动态列表   	start-->
				
				<!--行业新闻		start-->
				<div class="aboutList tab" style="display: none;">
					<ul>				
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>
						<li><a href="javascript:;"><strong>关于2015年6月27日（周六）凌晨00：00至3：30进行系统升级绿能宝</strong><b>2015-07-12</b></a></li>		
					</ul>
				</div>	
				<!--行业新闻		end-->
				
				<!--关于我们		start-->
				<div class="aboutUs tab" style="display: none;">
					<h2>总部（深圳）</h2>
					<p>服务热线：0755-3301-1818<br />业务合作：请致电或者邮件我们。<br />地址： 广东省深圳市福田区侨香路3085号岭南大厦8楼<br />邮编：518000<br />公司邮箱：service@gonghejijin.com</p>
					<p>招聘职位<br />基金会计专员： 1位<br />基金会计专员： 1位<br />基金会计专员： 1位<br />基金会计专员： 1位<br />基金会计专员： 1位</p>
				</div>
				<!--关于我们		end-->
					
				<!--公司简介		start-->
				<div class="aboutCompany tab" style="display: none;">
					<p>广东工合股权基金有限公司（以下简称"工合基金"）由广东省工业合作协会会长单位与广东股权投资协会常务副会长单位、深圳市金环球股权基金有限公司分别出资70%与30%共同发起设立，注册资本（实收）1亿元，是一家由实力产业资本与资本运营、资产经营专家创立并管理的实力基金管理机构，总部位于最具金融创新活力的深圳经济特区.<br />
 广东工合股权基金有限公司（“工合基金”）由广东省工业合作协会（“广东工合”）联合多家实力会员单位发起成立，是广东工合实施金融资源整合的执行单位；2014年4月以来已并购的项目有深圳龙盈泰商业中心、阳江御墅龙山房地产、广东信息工程职业学院、广东麦田食品有限公司、清远市英德明珠广场、肇庆市广宁悦景步行街等。</p>
					<p>1.拥有资深的风控团队，从事于银行，证券，基金等金融领域多年。<br />2.拥有多家银行持久的合作关系，并达成战略伙伴。</p>
					<p>企业文化：融通四海 助推发展<br />工合基金善合资本，助推广东工合会员企业快速成长。<br />投资策略：两会互动 双优并举 <br />工合基金依托广东省工业合作协会、广东股权投资协会的优质企业及优质资产，双优并举，智慧运用投资策略。<br />核心团队：顾问团队 管理团队 法律团队 专业团队</p>
					<p>一、诚信为本，尊重员工，倾听客户需求。<br />诚信是有限公司安身立命之本，也是海硕人做人、做事的原则。公司对员工守诚信，尊重员工的选择和人格，给员工提供更为身心愉悦的工作环境。公司对客户守诚信，秉承以客户为中心，快速响应客户的需求，为客户提供有价值的产品，有效的服务，与客户共同发展，让客户真正满意在海硕，放心在海硕。<br /> 二、艰苦奋斗，持续创新。<br />艰苦奋斗是深圳市海硕科技有限公司赖以发展之根源，客户的需求就是我们创新的源泉，就是我们创新活动的动力所在。创新不是一蹴而就的，是需要艰苦奋斗的努力才能实现的。<br />三、团队合作，开放进取。<br />一个团队的成功不是一个人的努力就能够造就的，积极向上的学习氛围，团队之间阳光、开放的心态，有效的沟通渠道，沟通方式，相互之间的包容合作是我们取得成功的保障。</p>
				</div>
				<!--公司简介		end-->
			</div>	
		</div>
		<!--有关公司		about	  end---->		

		
		<!--登录	login start-->
		<div class="loginO">		
			<div class="login">
				<div class="loginIn">
					<div class="loginT">
						<h2>欢迎登录工合财富</h2>
						<p><img src="images/close.png"/></p>
					</div>
					<div class="loginB">
						<!--用户名-->
						<dl>
							<dt><img src="images/loginHead.gif"/></dt>
							<dd><input type="text" name="" id="" value="" placeholder="请输入用户名"/></dd>
						</dl>
						<!--密码-->
						<dl>
							<dt><img src="images/loginPassword.gif"/></dt>
							<dd><input type="password" name="" id="" value="" placeholder="请输入密码"/></dd>
						</dl>
						<!--验证码-->
						<dl>
							<dt><img src="images/loginYzm.gif"/></dt>
							<dd><input type="text" name="" id="" value="" placeholder="请输入验证码" class="yzm"/><img src="images/loginYzmPic.gif"/></dd>
						</dl>
						<input type="button" id="" value="" class="loginBtn"/>
						<p><a href="javascript:;" style="color: #E60000;">忘记密码？</a> | <a href="zhuce.html">立即注册</a></p>
					</div>
				</div>
			</div>
		</div>	
		<!--登录	login end-->
		<include file="Public:footer"/>
