	<block name="left"><extend name="Base/common"/>

			<!--最顶部图片	pcPic start-->
			<div class="pcPic">
				<img src="__PUBLIC__/Home/images/pcPic.gif"/>
			</div>
			<!--最顶部图片	pcPic end-->
			<!--左边栏	pcL start-->
			<div class="pcL">
				<!--资产管理-->
				<ul>
					<li><h4>资产管理</h4></li>
					<li><a href="{:U('User/index')}">资产详情</a></li>
					<li><a href="{:U('Property/withdraw')}">充值提现</a></li>
					<li><a href="{:U('Property/moneyall')}">资金统计</a></li>
					<li><a href="{:U('Property/asset_income')}">投资收益</a></li>
				</ul>
				
				<!--安全中心-->
				<ul>
					<li><h4 style="background: url(images/pcLIcons.png) no-repeat 15px -40px;">安全中心</h4></li>
					<li><a href="javascript:;">认证管理</a></li>
					<li><a href="javascript:;">密码管理</a></li>
				</ul>
				
				<!--产品中心-->
				<ul>
					<li><h4 style="background: url(images/pcLIcons.png) no-repeat 15px -80px;">产品中心</h4></li>
					<li><a href="{:U('User/cpgl')}">交易记录</a></li>
					<li><a href="javascript:;">转让记录</a></li>
				</ul>
				
				<!--消息中心-->
				<ul>
					<li><h4 style="background: url(images/pcLIcons.png) no-repeat 15px -120px;">消息中心</h4></li>
					<li><a href="{:U('User/jbxx')}">基本信息</a></li>
					<li><a href="{:U('User/xxtz')}">消息通知</a></li>
					<li><a href="{:U('User/tzsz')}">通知设置</a></li>
				</ul>
				
				<!--推广管理-->
				<ul>
					<li><h4 style="background: url(images/pcLIcons.png) no-repeat 15px -160px;">推广管理</h4></li>
					<li><a href="javascript:;">友情推广</a></li>
					<li><a href="javascript:;">推广列表</a></li>
					<li><a href="javascript:;">我的奖励</a></li>
				</ul>
			</div>
			<!--左边栏	pcL end-->
					
	</block>