	<block name="body"><extend name="Base/common"/>
		<!--个人中心  	PC start-->
			<!--双击更换头像-->
			<div class="assDet01TC">
				<div class="assDet01TCIn">
					<p>本地图片</p>
					<div class="inp">
						<input type="text" id="" value="请选择图片" />
						<input type="button" id="" value="上传本地文件" />
						<input type="file" name="" id="" value="" />
					</div>
					<div class="btn">
						<input type="button" id="" value="上&nbsp;传" />
						<input type="button" id="" value="取&nbsp;消" class="closeBtn"/>
					</div>
				</div>
			</div>
			
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">资产详情</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--资产详情		AssetDetails-->
				<!--assDet01	start-->
				<div class="assDet01">
					<dl>
						<dt><img src="__PUBLIC__/Home/images/pcRHead.gif" alt="用户头像" title="双击更换头像"/></dt>
						<dd>
							<p>{$conn.id|get_username}</p>
							<p>上次登录：{:is_logtime()} ip:{:is_logip()}</p>
							<ul>
								<if condition="$status.live_status eq 1"><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/bankYes.gif" alt="银行卡已绑定" title="银行卡已绑定"/></a></li><else/><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/bankNo.gif" alt="银行卡未绑定" title="银行卡未绑定"/></a></li></if>
								<if condition="$status.idcard_status eq 1"><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/verifiedYes.gif" alt="已实名认证" title="已实名认证"/></a></li><else/><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/verifiedNo.gif" alt="未实名认证" title="未实名认证"/></a></li></if>
								<if condition="$status.phone_status eq 1"><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/phoneYes.gif" alt="手机已验证" title="手机已验证"/></a></li><else/><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/phoneYes.gif" alt="手机未验证" title="手机未验证"/></a></li></if>
								<if condition="$status.video_status eq 1"><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/passwordYes.gif" alt="已设置支付密码" title="已设置支付密码"/></a></li><else/><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/passwordNo.gif" alt="未设置支付密码" title="未设置支付密码"/></a></li></if>
								<if condition="$status.email_status eq 1"><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/emailYes.gif" alt="已绑定邮箱" title="已绑定邮箱"/></a></li><else/><li><a href="javascript:;"><img src="__PUBLIC__/Home/images/emailNo.gif" alt="未绑定邮箱" title="未绑定邮箱"/></a></li></if>
							</ul>
						</dd>
					</dl>
				</div>
				<!--assDet01	end-->
				
				<!--assDet02	start-->
				<div class="assDet02">
					<p>可用余额：&nbsp;&nbsp;&nbsp;&nbsp;<span>{$money.all_money|default="0.00"}</span>&nbsp;&nbsp;元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
					<p><a href="{:U('Property/withdraw')}"><img src="__PUBLIC__/Home/images/congzhiBtn.gif"/></a><a href="{:U('Property/withdraw')}"><img src="__PUBLIC__/Home/images/tixianBtn.gif"/></a></p>
				</div>
				<!--assDet02	end-->
				
				<!--assDet03	start-->
				<div class="assDet03">
					<p>
						<span>积分：&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>分</span>
						<a href="javascript:;"><img src="__PUBLIC__/Home/images/jifenduihuanBtn.gif"/></a>
					</p>
					<p>
						<span>红包：&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>元</span>
						<a href="javascript:;"><img src="__PUBLIC__/Home/images/lijishiyongBtn.gif"/></a>
					</p>
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>已投资金</th>
							<th>可用资金</th>
							<th>提现申请</th>
							<th>推广资金</th>
						</tr>
						<tr>
							<td>{$money.all_money|default="0.00"}</td>
							<td>{$money.all_money|default="0.00"}</td>
							<td>{$money.all_money|default="0.00"}</td>
							<td>{$money.all_money|default="0.00"}</td>
						</tr>
					</table>
					<h5>总资产：&nbsp;&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>&nbsp;&nbsp;元</h5>
				</div>
				<!--assDet03	end-->
				
				<!--assDet04	start-->
				<div class="assDet04">
					<p>日收益：&nbsp;&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>&nbsp;元</p>
					<p>投资收益：&nbsp;&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>&nbsp;元</p>
					<p>推荐奖励：&nbsp;&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>&nbsp;元</p>
					<h5>总收益：&nbsp;&nbsp;&nbsp;<b>{$money.all_money|default="0.00"}</b>&nbsp;&nbsp;元</h5>
				</div>
				<!--assDet04	end-->
				
				<!--assDet05	start-->
				<div class="assDet05">
					<p>资产明细</p>
					<table border="0" cellspacing="1" cellpadding="0">
						<tr>
							<th>投资项目</th>
							<th>购买数量（块）</th>
							<th>购买金额（元）</th>
							<th>购买时间</th>
							<th>总计收益</th>
						</tr>
						<!--无交易数据时-->
						<tr>
							<td colspan="5"><img src="__PUBLIC__/Home/images/zanwujiaoyishuju.png"/></td>
						</tr>
						<!--有交易数据时
						<tr>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
						</tr>-->
					</table>
				</div>
				<!--assDet05	end-->
			</div>
			<!--右边内容		pcR end-->
		<!--个人中心  	PC end-->
	</block>