	<block name="body"><extend name="Base/common"/>
		
		<!--个人中心  	PC start-->
		<div class="pc">
			<!--最顶部图片	pcPic start-->
			<div class="pcPic">
				<img src="__PUBLIC__/Home/images/pcPic.gif"/>
			</div>
			<!--最顶部图片	pcPic end-->
			<!--左边栏	pcL start-->
			<div class="pcL">
				<!--资产管理-->
				<ul>
					<li><h4>资产管理</h4></li>
					<li><a href="javascript:;">资产详情</a></li>
					<li><a href="javascript:;">充值提现</a></li>
					<li><a href="javascript:;">资金统计</a></li>
					<li><a href="javascript:;">投资收益</a></li>
				</ul>
				
				<!--安全中心-->
				<ul>
					<li><h4 style="background: url(__PUBLIC__/Home/images/pcLIcons.png) no-repeat 15px -40px;">安全中心</h4></li>
					<li><a href="javascript:;">认证管理</a></li>
					<li><a href="javascript:;">密码管理</a></li>
				</ul>
				
				<!--产品中心-->
				<ul>
					<li><h4 style="background: url(__PUBLIC__/Home/images/pcLIcons.png) no-repeat 15px -80px;">产品中心</h4></li>
					<li><a href="javascript:;">交易记录</a></li>
					<li><a href="javascript:;">转让记录</a></li>
				</ul>
				
				<!--消息中心-->
				<ul>
					<li><h4 style="background: url(__PUBLIC__/Home/images/pcLIcons.png) no-repeat 15px -120px;">消息中心</h4></li>
					<li><a href="javascript:;">基本信息</a></li>
					<li><a href="javascript:;">消息通知</a></li>
					<li><a href="javascript:;">通知设置</a></li>
				</ul>
				
				<!--推广管理-->
				<ul>
					<li><h4 style="background: url(__PUBLIC__/Home/images/pcLIcons.png) no-repeat 15px -160px;">推广管理</h4></li>
					<li><a href="javascript:;">友情推广</a></li>
					<li><a href="javascript:;">推广列表</a></li>
					<li><a href="javascript:;">我的奖励</a></li>
				</ul>
			</div>
			<!--左边栏	pcL end-->
			
			<!--双击更换头像-->
			<div class="assDet01TC">
				<div class="assDet01TCIn">
					<p>本地图片</p>
					<div class="inp">
						<input type="text" id="" value="请选择图片" />
						<input type="button" id="" value="上传本地文件" />
						<input type="file" name="" id="" value="" />
					</div>
					<div class="btn">
						<input type="button" id="" value="上&nbsp;传" />
						<input type="button" id="" value="取&nbsp;消" class="closeBtn"/>
					</div>
				</div>
			</div>
			
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">资产详情</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--资产详情		AssetDetails-->
				<!--assDet01	start-->
				<div class="assDet01">
					<dl>
						<dt><img src="__PUBLIC__/Home/images/pcRHead.gif" alt="用户头像" title="双击更换头像"/></dt>
						<dd>
							<p>XXXXXXXXX</p>
							<p>上次登录：2015-07-03 16:56:33</p>
							<ul>
								<li><a href="javascript:;"><img src="__PUBLIC__/Home/images/bankNo.gif" alt="银行卡未绑定" title="银行卡未绑定"/></a></li>
								<li><a href="javascript:;"><img src="__PUBLIC__/Home/images/verifiedNo.gif" alt="未实名认证" title="未实名认证"/></a></li>
								<li><a href="javascript:;"><img src="__PUBLIC__/Home/images/phoneYes.gif" alt="手机已验证" title="手机已验证"/></a></li>
								<li><a href="javascript:;"><img src="__PUBLIC__/Home/images/passwordNo.gif" alt="未设置支付密码" title="未设置支付密码"/></a></li>
								<li><a href="javascript:;"><img src="__PUBLIC__/Home/images/emailNo.gif" alt="未绑定邮箱" title="未绑定邮箱"/></a></li>
							</ul>
						</dd>
					</dl>
				</div>
				<!--assDet01	end-->
				
				<!--assDet02	start-->
				<div class="assDet02">
					<p>可用余额：&nbsp;&nbsp;&nbsp;&nbsp;<span>0.00</span>&nbsp;&nbsp;元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
					<p><a href="javascript:;"><img src="__PUBLIC__/Home/images/congzhiBtn.gif"/></a><a href="javascript:;"><img src="__PUBLIC__/Home/images/tixianBtn.gif"/></a></p>
				</div>
				<!--assDet02	end-->
				
				<!--assDet03	start-->
				<div class="assDet03">
					<p>
						<span>积分：&nbsp;&nbsp;<b>0</b>分</span>
						<a href="javascript:;"><img src="__PUBLIC__/Home/images/jifenduihuanBtn.gif"/></a>
					</p>
					<p>
						<span>红包：&nbsp;&nbsp;<b>0</b>元</span>
						<a href="javascript:;"><img src="__PUBLIC__/Home/images/lijishiyongBtn.gif"/></a>
					</p>
					<table cellpadding="0" cellspacing="0">
						<tr>
							<th>已投资金</th>
							<th>可用资金</th>
							<th>提现申请</th>
							<th>推广资金</th>
						</tr>
						<tr>
							<td>0.00</td>
							<td>0.00</td>
							<td>0.00</td>
							<td>0.00</td>
						</tr>
					</table>
					<h5>总资产：&nbsp;&nbsp;&nbsp;<b>0.00</b>&nbsp;&nbsp;元</h5>
				</div>
				<!--assDet03	end-->
				
				<!--assDet04	start-->
				<div class="assDet04">
					<p>日收益：&nbsp;&nbsp;&nbsp;<b>0.00</b>&nbsp;元</p>
					<p>投资收益：&nbsp;&nbsp;&nbsp;<b>0.00</b>&nbsp;元</p>
					<p>推荐奖励：&nbsp;&nbsp;&nbsp;<b>0.00</b>&nbsp;元</p>
					<h5>总收益：&nbsp;&nbsp;&nbsp;<b>0.00</b>&nbsp;&nbsp;元</h5>
				</div>
				<!--assDet04	end-->
				
				<!--assDet05	start-->
				<div class="assDet05">
					<p>资产明细</p>
					<table border="0" cellspacing="1" cellpadding="0">
						<tr>
							<th>投资项目</th>
							<th>购买数量（块）</th>
							<th>购买金额（元）</th>
							<th>购买时间</th>
							<th>总计收益</th>
						</tr>
						<!--无交易数据时-->
						<tr>
							<td colspan="5"><img src="__PUBLIC__/Home/images/zanwujiaoyishuju.png"/></td>
						</tr>
						<!--有交易数据时
						<tr>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
							<td>sdfsgah</td>
						</tr>-->
					</table>
				</div>
				<!--assDet05	end-->
			</div>
			<!--右边内容		pcR end-->
		</div>
		<!--个人中心  	PC end-->
	</block>