	<block name="body"><extend name="Base/common"/>
		
		

			
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">基本信息</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--右边内容		基本信息 Basic Information	start-->
				<div class="basInf">
					<dl>
						<dt>用户名</dt>
						<dd>XXXXXXX</dd>
					</dl>
					<dl>
						<dt>性别</dt>
						<dd>
							<label><input type="radio" name="sex" id="sex" value="" /><b>男</b></label>
							<label><input type="radio" name="sex" id="sex" value="" /><b>女</b></label>
						</dd>
					</dl>
					<dl>
						<dt>出生日期</dt>
						<dd><input type="text" name="datepicker" id="datepicker" class="birth" readonly="readonly"/></dd>
					</dl>
					<dl>
						<dt>户籍地</dt>
						<dd>
							<select name="province" id="province"></select>
							<select name="city" id="city"></select>
						</dd>
					</dl>
					<dl>
						<dt>手机号码</dt>
						<dd>43246564543</dd>
					</dl>
					<dl>
						<dt>邮箱</dt>
						<dd>454545451@sina.com.cn</dd>
					</dl>
					<dl>
						<dt>职业</dt>
						<dd>
							<input type="text" name="" id="" value="" />
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd><input type="button" name="" id="" value="确&nbsp;&nbsp;&nbsp;&nbsp;认" /></dd>
					</dl>
				</div>
				<!--右边内容		基本信息 Basic Information	end-->
			</div>
			<!--右边内容		pcR end-->

	</block>
