	<block name="body"><extend name="Base/common"/>
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">推广列表</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--右边内容		start-->
				<!--推广列表		Promotion List	start-->
				<div class="promoList">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th width="7%">编号</th>
							<th width="20%">用户名</th>
							<th width="15%">注册时间</th>
							<th width="30%">累计投资额（元）</th>
							<th width="15%">最后投资时间</th>
							<th width="10%">会员等级</th>
						</tr>
						<!--无好友-->
						<tr>
							<td colspan="6">暂无好友</td>
						</tr>
						<!--有好友
						<tr>
							<td>1</td>
							<td>kj;op</td>
							<td>2014-12-02</td>
							<td>323153</td>
							<td>2015-02-24</td>
							<td>C</td>
						</tr>-->
					</table>
				</div>
				<!--推广列表		Promotion List	end-->
				<!--右边内容		end-->
				
			</div>
			<!--右边内容		pcR end-->
</block>
