	<block name="body"><extend name="Base/common"/>
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">通知设置</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--通知设置		Notify way	start-->
				<div class="notiWay">
					<div class="notiWay01">
						<h4>
							<label>
								<input type="checkbox" name="" id="chkall2" value="" />
								<span>全部</span>
							</label>
							<p>请选择您需要接收的通知</p>
						</h4>
						<ul>
							<li>
								<label>
									<input type="checkbox" name="subBox2" id="" value="" />
									<span>购买产品通知</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="subBox2" id="" value="" />
									<span>新产品上线通知</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="subBox2" id="" value="" />
									<span>回购转让产品通知</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="subBox2" id="" value="" />
									<span>提现通知</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="subBox2" id="" value="" />
									<span>充值通知</span>
								</label>
							</li>
						</ul>
					</div>
					<div class="notiWay02">
						<h4>
							<label>
								<input type="checkbox" name="" id="chkall3" value="" />
								<span>全部</span>
							</label>
							<p>请选择您接收通知的方式</p>
						</h4>
						<ul>
							<li>
								<label>
									<input type="checkbox" name="subBox3" id="" value="" />
									<span>站内信通知</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="subBox3" id="" value="" />
									<span>短信通知</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="subBox3" id="" value="" />
									<span>邮件通知</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
				<!--通知设置		Notify way	start-->		
			</div>
			<!--右边内容		pcR end-->
</block>