	<block name="body"><extend name="Base/common"/>
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">我的奖励</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--右边内容		start-->
				<!--我的奖励		reward	start-->
				<div class="reward">
					<div class="tips">
						<p>等级说明：</p>
						<p>1、A级会员为当前用户直接推荐的投资客；</p>
						<p>2、B级会员为A级会员间接推荐的投资客；</p>
						<p>3、C级会员为B级会员间接推荐的投资客。</p>
					</div>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th>等级</th>
							<th>人数</th>
							<th>当日投资额</th>
							<th>当日推广费</th>
							<th>当月投资额</th>
							<th>当月推广费</th>
							<th>累计投资额</th>
							<th>累计推广费</th>
							<th>操作</th>
						</tr>
						<tr>
							<td>A</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td><a href="javascript:;">领取奖励</a></td>
						</tr>
						<tr>
							<td>B</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td><a href="javascript:;">领取奖励</a></td>
						</tr>
						<tr>
							<td>C</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td>1000</td>
							<td>10</td>
							<td><a href="javascript:;">领取奖励</a></td>
						</tr>
					</table>
				</div>
				<!--我的奖励		reward	end-->
				<!--右边内容		end-->
				
			</div>
			<!--右边内容		pcR end-->
</block>
