	<block name="body"><extend name="Base/common"/>
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">邀请好友</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--右边内容		start-->
				<!--邀请好友		Invite friends	start-->
				<div class="inviFri">
					<div class="tips">
						<p>温馨提示：</p>
						<p>1、推荐A级会员可获得投资利息的5%；</p>
						<p>2、推荐B级会员可获得投资利息的3%；</p>
						<p>3、推荐C级会员可获得投资利息的1%；</p>
						<p>4、只有参与了投资才有推广费；</p>
						<p>5、自动投标不参与活动。</p>
					</div>
					<dl>
						<dt>复制以下链接发送给好友</dt>
						<dd>							
							<div class="yqhy_text1">
								<span id="testcopy">http://www.ghcf.com</span>&nbsp;&nbsp;&nbsp;
								<a href="#" id="copy"><embed width="62" height="24" align="middle" flashvars="txt=http://www.ghcf.com" src="__PUBLIC__/Home/js/copy.swf" quality="high" wmode="transparent" allowscriptaccess="sameDomain" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" style=""></a>
		
								<!--复制代码-->       
								<span id="url_box_clippy" style="display:none">http://www.ghcf.com</span>
								<span id="clippy_tooltip_url_box_clippy" class="clippy-tooltip tooltipped" title="copy to clipboard">
									<object id="clippy" class="clippy" width="14" height="14" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
										<param value="https://d3nwyuy0nl342s.cloudfront.net/flash/clippy.swf?v5" name="movie">
										<param value="always" name="allowScriptAccess">
										<param value="high" name="quality">
										<param value="noscale" name="scale">
										<param value="id=url_box_clippy&copied=&copyto=" name="FlashVars">
										<param value="#FFFFFF" name="bgcolor">
										<param value="opaque" name="wmode">
										<embed width="14" height="14" wmode="opaque" bgcolor="#FFFFFF" flashvars="id=url_box_clippy&copied=&copyto=" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="https://d3nwyuy0nl342s.cloudfront.net/flash/clippy.swf?v5">
									</object>
								</span>            				
		</div>
							
						</dd>
					</dl>
				</div>
				<!--邀请好友		Invite friends	end-->
				<!--右边内容		end-->
				
			</div>
			<!--右边内容		pcR end-->
</block>
