	<include file="Public:head"/>
	<!--头部-->

		<!--快捷通道	bar 开始-->
		<div class="barOut">
			<div class="bar">
				<!--barLeft start-->
				<div class="barLeft">
					<p>欢迎来到工合财富！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请</p>
					<a href="javascript:;" class="DL">[ 登录 ]</a>   <!--  点击出现登录弹出框，而不是登录页面     -->                                                               
					<a href="zhuce.html" class="ZC">[ 注册 ]</a>
				</div>
				<!--barLeft end-->
				
				<!--barRight start-->
				<div class="barRight">
					<p><img src="images/hotline.png"/></p>
					<a href="http://weibo.com/u/5385565766?topnav=1&wvr=6&topsug=1" target="_blank" class="sina"> </a>
					<a href="tencent://message/?uin=3058467611" class="qq"> </a>
					<a href="javasvript:;" class="wx"> </a>
				</div>
				<!--barRight end-->
				
				<!--鼠标划上效果	开始-->
				<div class="sinaCode"><img src="images/sinaCode.png"/></div>
				<div class="qqCode"><img src="images/qqCode.jpg"/></div>
				<div class="wxCode"><img src="images/wxCode.jpg" width="100" height="100"/></div>
				<!--鼠标划上效果 	结束-->
			</div>
		</div>
		<!--快捷通道	bar 结束-->
		
		<!--导航栏	nav 开始-->
		<div class="navOut">
			<div class="nav">
				<h1 class="navL"><a href="index.html"><img src="images/logo.png"/></a></h1>
				<ul class="navR">
					<li><a href="index.html" class="cur">首&nbsp;&nbsp;页</a></li>
					<li><a href="chanpinzhongxin.html">产品中心</a></li>
					<li><a href="zhuanrangzhongxin.html">转让中心</a></li>
					<li><a href="gerenzhongxin.html">个人中心</a></li>
					<li><a href="xinshouzhinan.html">新手指南</a></li>
				</ul>
			</div>
		</div>
		<!--导航栏	nav 结束-->
		
		<!--找回密码		Forgot your password   start-->
		<div class="forgPass">
			<h3>找回密码</h3>
			<!--找回方式		开始-->
			<div class="forgPassWay">
				<input type="button" value="通过手机号码找回" class="byPhone"/>
				<input type="button" value="通过邮箱找回" class="byEmail"/>
			</div>
			<!--找回方式		结束-->
			
			<!--通过手机号找回	开始-->
			<div class="forgPassForPhone" style="display: none;">
				<div>
					<p>绑定的手机号码：<span>157873463</span></p>
					<input type="button" value="发送验证码"/>
				</div>
				<div>
					<p>请输入验证码</p>
					<input type="text" />
				</div>
				<input type="button" value="确  定" class="sure"/>
			</div>
			<!--通过手机号找回	结束-->
			
			<!--通过邮箱找回	开始-->
			<div class="forgPassForEmail" style="display: none;">
				<p>绑定的邮箱：<span>1212536213@sina.com</span></p>
				<input type="button" value="发送验证邮件"/>
			</div>
			<!--通过邮箱找回	结束-->
			
			<!--修改登录密码		开始-->
			<div class="forgPassReset" style="display: none;">
				<dl>
					<dt>新密码</dt>
					<dd><input type="password" /></dd>
				</dl>
				<dl>
					<dt>确认密码</dt>
					<dd><input type="password" /></dd>
				</dl>
				<input type="button" value="确  定" />
			</div>
			<!--修改登录密码		结束-->
		</div>		
		<!--找回密码		Forgot your password   end-->
		
		<!--footer	start-->
		<div class="footerO">
			<div class="footer">
				<div class="top">
					<ul>
						<li>
							<h4>关于我们</h4>
							<p><a href="javasvript:;">公司简介</a></p>
							<p><a href="javasvript:;">服务项目</a></p>
							<p><a href="javasvript:;">核心优势</a></p>
							<p><a href="javasvript:;">联系我们</a></p>
						</li>
						<li>
							<h4>协议与规则</h4>
							<p><a href="javasvript:;">交易服务协议</a></p>
							<p><a href="javasvript:;">平台交易规则</a></p>
							<p><a href="javasvript:;">信息发布规则</a></p>
							<p><a href="javasvript:;">买家委托规则</a></p>
						</li>
						<li>
							<h4>新手帮助</h4>
							<p><a href="javasvript:;">风险提示</a></p>
							<p><a href="javasvript:;">注册登录</a></p>
							<p><a href="javasvript:;">账户安全</a></p>
							<p><a href="javasvript:;">资费说明</a></p>
						</li>
					</ul>
					<div class="topR">
						<p><img src="images/call.gif"/></p>
						<ul>
							<li><img src="images/qq.gif"/></li>
							<li><a href="http://weibo.com/u/5385565766?topnav=1&wvr=6&topsug=1"><img src="images/sina.gif"/></a></li>
							<li><img src="images/weixin.gif"/></li>
						</ul>
					</div>
				</div>
				<div class="bot">
					<h4>友情链接</h4>
					<ul>
						<li><a href="javascript:;">经济参考报</a></li>
						<li><a href="javascript:;">国信证劵</a></li>
						<li><a href="javascript:;">中国企业家</a></li>
						<li><a href="javascript:;">中国新能源网</a></li>
						<li><a href="javascript:;">国际能源网</a></li>
						<li><a href="javascript:;">全球节能环保网</a></li>
						<li><a href="javascript:;">联合能源</a></li>
						<li><a href="javascript:;">财经大全</a></li>
						<li><a href="javascript:;">搜狐经济</a></li>
					</ul>
				</div>
				
				<!--鼠标滑过-->
				<div class="qqCode"><img src="images/wxCode2.png"/></div>
				<div class="wxCode"><img src="images/wxCode2.png"/></div>
			</div>
		</div>
		<!--footer	end-->
		<include file="Public:footer"/>
