	<include file="Public:head"/>
	<!--头部-->
	<include file="Public:top"/>
		
		<!--找回密码		Forgot your password   start-->
		<div class="forgPass">
			<h3>找回密码</h3>
			<!--找回方式		开始-->
			<div class="forgPassWay">
				<input type="button" value="通过手机号码找回" class="byPhone"/>
				<input type="button" value="通过邮箱找回" class="byEmail"/>
			</div>
			<!--找回方式		结束-->
			
			<!--通过手机号找回	开始-->
			<div class="forgPassForPhone" style="display: none;">
				<div>
					<p>绑定的手机号码：<span>157873463</span></p>
					<input type="button" value="发送验证码"/>
				</div>
				<div>
					<p>请输入验证码</p>
					<input type="text" />
				</div>
				<input type="button" value="确  定" class="sure"/>
			</div>
			<!--通过手机号找回	结束-->
			
			<!--通过邮箱找回	开始-->
			<div class="forgPassForEmail" style="display: none;">
				<p>绑定的邮箱：<span>1212536213@sina.com</span></p>
				<input type="button" value="发送验证邮件"/>
			</div>
			<!--通过邮箱找回	结束-->
			
			<!--修改登录密码		开始-->
			<div class="forgPassReset" style="display: none;">
				<dl>
					<dt>新密码</dt>
					<dd><input type="password" /></dd>
				</dl>
				<dl>
					<dt>确认密码</dt>
					<dd><input type="password" /></dd>
				</dl>
				<input type="button" value="确  定" />
			</div>
			<!--修改登录密码		结束-->
		</div>		
		<!--找回密码		Forgot your password   end-->
		
		<!--footer	start-->
		<div class="footerO">
			<div class="footer">
				<div class="top">
					<ul>
						<li>
							<h4>关于我们</h4>
							<p><a href="javasvript:;">公司简介</a></p>
							<p><a href="javasvript:;">服务项目</a></p>
							<p><a href="javasvript:;">核心优势</a></p>
							<p><a href="javasvript:;">联系我们</a></p>
						</li>
						<li>
							<h4>协议与规则</h4>
							<p><a href="javasvript:;">交易服务协议</a></p>
							<p><a href="javasvript:;">平台交易规则</a></p>
							<p><a href="javasvript:;">信息发布规则</a></p>
							<p><a href="javasvript:;">买家委托规则</a></p>
						</li>
						<li>
							<h4>新手帮助</h4>
							<p><a href="javasvript:;">风险提示</a></p>
							<p><a href="javasvript:;">注册登录</a></p>
							<p><a href="javasvript:;">账户安全</a></p>
							<p><a href="javasvript:;">资费说明</a></p>
						</li>
					</ul>
					<div class="topR">
						<p><img src="images/call.gif"/></p>
						<ul>
							<li><img src="images/qq.gif"/></li>
							<li><a href="http://weibo.com/u/5385565766?topnav=1&wvr=6&topsug=1"><img src="images/sina.gif"/></a></li>
							<li><img src="images/weixin.gif"/></li>
						</ul>
					</div>
				</div>
				<div class="bot">
					<h4>友情链接</h4>
					<ul>
						<li><a href="javascript:;">经济参考报</a></li>
						<li><a href="javascript:;">国信证劵</a></li>
						<li><a href="javascript:;">中国企业家</a></li>
						<li><a href="javascript:;">中国新能源网</a></li>
						<li><a href="javascript:;">国际能源网</a></li>
						<li><a href="javascript:;">全球节能环保网</a></li>
						<li><a href="javascript:;">联合能源</a></li>
						<li><a href="javascript:;">财经大全</a></li>
						<li><a href="javascript:;">搜狐经济</a></li>
					</ul>
				</div>
				
				<!--鼠标滑过-->
				<div class="qqCode"><img src="images/wxCode2.png"/></div>
				<div class="wxCode"><img src="images/wxCode2.png"/></div>
			</div>
		</div>
		<!--footer	end-->
		<include file="Public:footer"/>
