	<include file="Public:head"/>
	<!--头部-->
	<include file="Public:top"/>
		<!--产品中心		prod start-->
		<!--分类		sort01	start-->
		<div class="sort01">
			<div class="sort01In">
				<ul class="sort01L">
					<li class="cur"><a href="javascript:;">最新产品</a></li>
					<li><a href="javascript:;">定向产品</a></li>
					<li><a href="javascript:;">新手产品</a></li>
				</ul>
				<div class="sort01R">
					<input type="button" id="" value="" class="sort01Btn"/>
					<input type="text" name="" id="" value="" class="sort01Txt" placeholder="请输入产品名称搜索"/>
				</div>
			</div>
		</div>
		<!--sort01	end-->
		
		<!--分类		sort02	start-->
		<div class="sort02">
			<dl class="sort02In">
				<dt>产品类型</dt>
				<dd class="cur">全部</dd>
				<dd data="1" onClick="queryGoods(this,3);"><a href="#" >美橙系列</a></dd>
				<dd>美桔系列</dd>
				<dd>美柚系列</dd>
				<dd>金桔系列</dd>
				<dd>充电桩系列</dd>
			</dl>
		</div>
		<!--sort02 end-->
		
		<!--分类		sort03	start-->
		<div class="sort03">
			<dl class="sort03In">
				<dt>产品期限</dt>
				<dd class="cur">全部</dd>
				<dd>1-93天</dd>
				<dd>94-186天</dd>
				<dd>187-366天</dd>
				<dd>367天以上</dd>
			</dl>
		</div>
		<!--sort03 end-->
		
		<!--分类		sort04	start-->
		<dl class="sort04">
			<dt>排序</dt>
			<dd class="cur">综合排序</dd>
			<dd>收益率&nbsp;<span><img src="__PUBLIC__/Home/images/downArrow.png"/></span></dd>
			<dd>发布时间&nbsp;<span><img src="__PUBLIC__/Home/images/downArrow.png"/></span></dd>
			<dd>产品期限&nbsp;<span><img src="__PUBLIC__/Home/images/downArrow.png"/></span></dd>
		</dl>
		<!--sort04	end-->
		
		<!--prod	start-->
		<div class="prod">
			<!--01-->
			<div class="prodCon">
				<h3><a href="{:U('Products/chanpinxiangqing')}">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><a href="{:U('Products/chanpinxiangqing')}"><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></a></li>
				</ul>
			</div>
			
			<!--02-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
			
			<!--03-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
			
			<!--04-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
			
			<!--05-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
			
			<!--06-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
			
			<!--07-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
			
			<!--08-->
			<div class="prodCon">
				<h3><a href="javascript:;">美 桔 1 号</a></h3>
				<ul>
					<li><p>10.60</p>年化收益率( % )</li>
					<li><p>1080</p>锁定期限（天）</li>
					<li><p>1000.00</p>发售价格( 元/块 )</li>
					<li style="width: 250px;">
						<span><u>已投245块</u><b>可投673块</b></span>
						<div class="out"><div class="in"></div></div>
						<strong>（26.7%）</strong>
					</li>
					<li>发布时间：2015-06-10</li>
					<li><input type="button" name="" id="" value="立即购买" class="prodConBtn"/></li>
				</ul>
			</div>
		</div>
		<!--prod	end-->		
		<div class="page">
			<ul>
				<li>共10页</li>
				<li><a href="javascript:;">首页</a></li>
				<li><a href="javascript:;">1</a></li>
				<li><a href="javascript:;">2</a></li>
				<li><a href="javascript:;">3</a></li>
				<li><a href="javascript:;">4</a></li>
				<li><a href="javascript:;">5</a></li>
				<li><a href="javascript:;">尾页</a></li>
			</ul>
		</div>
					<script type="text/javascript">
			function queryGoods(obj,mark){
	var params = new Array();
	params.push("c1Id="+$("#c1Id").val());
	params.push("c2Id="+$("#c2Id").val());
	params.push("c3Id="+$("#c3Id").val());
	params.push("bs="+$("#bs").val());
	if(mark==8){
		var sj = $("#sj").val();
		if(sj==2){
			$("#sj").val(1);
			$("#msort").val(8);
		}else{
			$("#sj").val(2);
			$("#msort").val(9);
		}		
	}else{
		$("#sj").val(0);
		$("#msort").val(mark);
	}	
	params.push("msort=" + $("#msort").val());
	params.push("sj=" + $("#sj").val());	
	if(mark==1){
		var areaId3 = $(obj).attr("data");
		params.push("areaId3="+areaId3);
	}else if(mark==2){
		var areaId3 = $("#wst-areas").find(".searched").attr("data");
		var communityId = $(obj).attr("data");
		communityId = communityId?communityId:'';
		params.push("areaId3="+areaId3);
		params.push("communityId="+communityId);
	}else if(mark==3){
		var areaId3 = $("#wst-areas").find(".searched").attr("data");
		var communityId = $("#wst-communitys").find(".searched").attr("data");
		var brandId = $(obj).attr("data");
		communityId = communityId?communityId:'';
		params.push("areaId3="+areaId3);
		params.push("communityId="+communityId);
		params.push("brandId="+brandId);
	}else if(mark==4){
		var areaId3 = $("#wst-areas").find(".searched").attr("data");
		var communityId = $("#wst-communitys").find(".searched").attr("data");
		var brandId = $("#wst-brand").find(".searched").attr("data");
		var prices = $(obj).attr("data");
		params.push("areaId3="+areaId3);
		params.push("communityId="+communityId);
		params.push("brandId="+brandId);
		params.push("prices="+prices);
	}else if(mark==5){
		var areaId3 = $("#wst-areas").find(".searched").attr("data");
		var communityId = $("#wst-communitys").find(".searched").attr("data");
		var brandId = $("#wst-brand").find(".searched").attr("data");
		var prices = $("#wst-price").find(".searched").attr("data");
		var shopId = $(obj).attr("data");
		communityId = communityId?communityId:'';
		params.push("areaId3="+areaId3);
		params.push("communityId="+communityId);
		params.push("brandId="+brandId);
		params.push("prices="+prices);
	}else{
		var areaId3 = $("#wst-areas").find(".searched").attr("data");
		var communityId = $("#wst-communitys").find(".searched").attr("data");
		var brandId = $("#wst-brand").find(".searched").attr("data");
		if(mark==12){
			var prices = $("#sprice").val()+"_"+$("#eprice").val();
			
		}else{
			var prices = $("#wst-price").find(".searched").attr("data");
		}
		
		var shopId = $("#wst-shop").attr("data");
		params.push("mark="+mark);
		communityId = communityId?communityId:'';
		params.push("areaId3="+areaId3);
		params.push("communityId="+communityId);
		params.push("brandId="+brandId);
		params.push("prices="+prices);
	}
	
	var keyword = $.trim($("#keyword").val());
	if(keyword!=""){
		params.push("keyWords="+keyword);
	}
	window.location = domainURL  + '/index.php/Home/goods/getGoodsList/?' + (params.join("&"));
}</script>
		<!--产品中心		prod end-->
<include file="Public:footer"/>