	<block name="body"><extend name="Base/common"/>
		
		<!--个人中心  	PC start-->

			
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">资金统计</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--右边内容		资金统计		start-->
				<div class="fundCount">
					<!--购买产品金额统计-->
					<div class="shopCount">
						<h3>购买产品统计</h3>
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>购买产品总金额（元）</th>
								<th>购买产品总数量（笔）</th>
								<th>已回收本息</th>
								<th>已回收数量（笔）</th>
								<th>待回收本息</th>
								<th>待回收数量（笔）</th>
							</tr>
							<tr>
								<td>0.00</td>
								<td>0</td>
								<td>0.00</td>
								<td>0</td>
								<td>0.00</td>
								<td>0</td>
							</tr>
						</table>
					</div>
					<!--转让产品统计-->
					<div class="attoCount">
						<h3>转让产品统计</h3>
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>转让产品总金额（元）</th>
								<th>转让产品总数量（笔）</th>
								<th>总转让费</th>
								<th>实际总收款</th>
							</tr>
							<tr>
								<td>0.00</td>
								<td>0</td>
								<td>0.00</td>
								<td>0</td>
							</tr>
						</table>
					</div>
					
				</div>
				<!--右边内容		资金统计		end-->				
			</div>
			<!--右边内容		pcR end-->

		<!--个人中心  	PC end-->
	</block>