	<block name="body"><extend name="Base/common"/>
			<!--个人中心  	PC start-->

			
			<!--右边内容		pcR start-->
			<div class="pcR">
				<!--右边内容标题		pcRTit start-->
				<div class="pcRTit">
					<ul class="cztxTit">
						<li class="cur">充&nbsp;&nbsp;&nbsp;&nbsp;值</li>
						<li>提&nbsp;&nbsp;&nbsp;&nbsp;现</li>
					</ul>
				</div>
				<!--右边内容标题		pcRTit end-->
				
				<!--右边内容		start-->
				<div class="pcCzTx">
					<!--充值内容		recharge  start-->
					<div class="tab recharge">
						<!--温馨提示		tips	start-->
						<div class="tips">
							<p>温馨提示：</p>
							<p>1、充值手续费全免！</p>
							<p>2、充值成功后，禁止当天提现，15天以内提现收取本金0.4%，15天以后提现免费。</p>
							<p>3、工合财富禁止信用卡套现、虚假交易等行为，一经发现将予以处罚。
处罚包括但不限于以下几种方式：限制收款、冻结账户、永久停止服务，并对相关信用记录有影响。</p>
						</div>
						<!--温馨提示		tips	end-->
						
						<!--充值内容		rechargeCon  start-->
						<dl class="rechargeCon">
							<dt>真实姓名</dt>
							<dd>XXXXXXXXX</dd>
						</dl>
						<dl class="rechargeCon">
							<dt>账号</dt>
							<dd>XXXXXXXXX</dd>
						</dl>
						<dl class="rechargeCon">
							<dt>充值金额</dt>
							<dd><input type="text" id="" placeholder="请输入大于100的整数" class="czMoney"/></dd>
						</dl>
						<dl class="rechargeCon">
							<dt>充值类型</dt>
							<dd>
								<label>
									<input type="radio" name="czType" id="" value="" class="czType"/>
									<img src="__PUBLIC__/Home/images/guofubao.gif" title="国付宝" alt="国付宝"/></label>
									<label>
									<input type="radio" name="czType" id="" value="" class="czType"/>
									<img src="__PUBLIC__/Home/images/guofubao.gif" title="国付宝" alt="国付宝"/></label>
									<label>
									<input type="radio" name="czType" id="" value="" class="czType"/>
									<img src="__PUBLIC__/Home/images/guofubao.gif" title="国付宝" alt="国付宝"/></label>
							</dd>
						</dl>
						<dl class="rechargeCon">
							<dt>支付方式</dt>
							<dd>
								<select name="">
									<option value="">招商银行</option>
								</select>
							</dd>
						</dl>
						<!--充值内容		rechargeCon  end-->
						<input type="button" id="" value="确&nbsp;&nbsp;&nbsp;&nbsp;认" class="czBtn"/>
					</div>
					<!--充值内容		recharge  end-->
					
					<!--提现内容		cash	start-->
					<div class="tab cash" style="display: none;">
						<!--提现温馨提示-->
						<div class="tips">
							<p>凡是在工合财富充值未投标的资金，15天以内提现收取本金0.4%，15天以后提现免费 </p>
							<p>注：1、请输入您要取出金额,我们将在1至3个工作日(国家节假日除外)之内将钱转入您网站上填写的银行账号。 </p>
							<p>2、如你急需要把钱转到你的账号或者72小时之内网站未将钱转入到你的银行账号,请联系客服中心。 </p>
							<p>3、确保您的银行账号的姓名和您的网站上的真实姓名一致。</p>
							<p>4、在钱打到您账号时会发一封站内信通知你。</p>
							<p>5、每笔提现金额至少为100元以上（备注：如101、632等） </p>
							<p>6、每笔提现金额最高不能超过0元。</p>
 							<p>7、您目前能提取的最高额度是 955156.00 元。 </p>
							<p>8、注：平台未投资注册奖励和活动体验金不参与提现</p>
							<p style="color: #E60000;">* 温馨提示：禁止信用卡套现</p>
						</div>
						
						<!--提现内容		cashCon	start-->
						<dl class="cashCon">
							<dt>真实姓名</dt>
							<dd>XXXXXXXX</dd>
						</dl>
						<dl class="cashCon">
							<dt>手机号码</dt>
							<dd>1233597645</dd>
						</dl>
						<dl class="cashCon">
							<dt>账户余额</dt>
							<dd>953000.00</dd>
						</dl>
						<dl class="cashCon">
							<dt>可用余额</dt>
							<dd>953000.00</dd>
						</dl>
						<dl class="cashCon">
							<dt>冻结金额</dt>
							<dd>0</dd>
						</dl>
						<dl class="cashCon">
							<dt>提现银行</dt>
							<dd>
								<p>（以下是绑定的银行卡信息，如果没有银行卡请先进行提现银行卡设置）</p>
								<label><input type="checkbox" name="txBank"  value="" class="txBank"/><span>招商银行</span></label>
							</dd>
						</dl>
						<dl class="cashCon">
							<dt>提现金额 <b>*</b></dt>
							<dd><input type="text" name="" id="" value="" /></dd>
						</dl>
						<dl class="cashCon">
							<dt>交易密码 <b>*</b></dt>
							<dd><input type="password" name="" id="" value="" /></dd>
						</dl>
						<!--提现内容		cashCon	start-->
						<input type="button" id="" value="确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认" class="txBtn"/>
					</div>
					<!--提现内容		cash	end-->
				</div>
				<!--右边内容		end-->				
			</div>
			<!--右边内容		pcR end-->

		<!--个人中心  	PC end-->
	</block>
		
		
		



		
