    <block name="left">
        <extend name="Base/common"/>    
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">

                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="__PUBLIC__/Admin/img/profile_small.jpg" />    
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                <span class="clear">
                                    <span class="block m-t-xs"> <strong class="font-bold">{:get_nickname()}</strong>
                                    </span>
                                    <span class="text-muted text-xs block">
                                        超级管理员 <b class="caret"></b>
                                    </span>
                                </span>
                            </a>
                            
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a href="form_avatar.html">修改头像</a>
                                </li>
                                <li>
                                    <a href="profile.html">个人资料</a>
                                </li>
                                <li>
                                    <a href="contacts.html">联系我们</a>
                                </li>
                                <li>
                                    <a href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{:U('User/logout')}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">投富宝</div>

                    </li>

                    <li class="active">
                        <a href="{:U('Index/index')}"> <i class="fa fa-th-large"></i>
                            <span class="nav-label">首页</span>
                        </a>

                    </li>
                    <li>
                        <a href="index.html#"> <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">用户管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:U('User/memberlist')}">注册会员管理</a>
                            </li>
                            <li>
                                <a href="{:U('User/adminlist')}">后台管理员列表</a>
                            </li>
                            <li>
                                <a href="{:U('User/systemlog')}">系统操作日志</a>
                            </li>
                            <li>
                                <a href="{:U('User/infomanage')}">信息认证管理</a>
                            </li>
                            <li>
                                <a href="{:U('User/teamlist')}">团队管理</a>
                            </li>
                            <li>
                                <a href="{:U('User/friendlist')}">好友管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">资金管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:U('Fund/accountlist')}">账户列表</a>
                            </li>
                            <li>
                                <a href="{:U('Fund/rechargelog')}">充值记录</a>
                            </li>
                            <li>
                                <a href="{:U('Fund/withdraw')}">提现管理</a>
                            </li>
                            <li>
                                <a href="{:U('Fund/statistics')}">资金统计</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">产品管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:U('Productinfo/product_launch')}">产品发布</a>
                            </li>
                            <li>
                                <a href="{:U('Productinfo/product_list')}">产品列表</a>
                            </li>
                            <li>
                                <a href="{:U('Productinfo/product_turnlist')}">转让列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">订单管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:U('Orderinfo/order_list')}">订单列表</a>
                            </li>
                            <li>
                                <a href="{:U('Orderinfo/works_list')}">订单业绩表</a>
                            </li>
                            <li>
                                <a href="{:U('Orderinfo/order_going')}">订单跟踪</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">统计管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">用户统计</a>
                            </li>
                            <li>
                                <a href="#">产品统计</a>
                            </li>
                            <li>
                                <a href="#">充值统计</a>
                            </li>
                            <li>
                                <a href="#">提现统计</a>
                            </li>
                            <li>
                                <a href="#">推出资金统计</a>
                            </li>
                            <li>
                                <a href="#">平台盈利统计</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{:U('Email/mailbox')}">
                            <i class="fa fa-envelope"></i>
                            <span class="nav-label">邮件管理</span>
                            <span class="label label-warning pull-right">16</span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:U('Email/mail_compose')}">发邮件</a>
                            </li>
                            <li>
                                <a href="{:U('Email/mail_send')}">已发送</a>
                            </li>
                            <li>
                                <a href="{:U('Email/mailbox')}">收件箱</a>
                            </li>
                            <li>
                                <a href="{:U('Email/mail_detail')}">查看邮件</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">系统设置</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">权限设置</a>
                            </li>
                            <li>
                                <a href="#">接口设置</a>
                            </li>
                            <li>
                                <a href="#">数据中心</a>
                            </li>
                            <li>
                                <a href="#">参数设置</a>
                            </li>
                            <li>
                                <a href="{:U('Layout/layouts')}">
                                    <i class="fa fa-columns"></i>
                                    <span class="nav-label">布局</span>
                                    <span class="label label-danger pull-right">2.0</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
    </block>