<block name="body"><extend name="Base/common"/>
    <div id="page-wrapper" class="gray-bg dashbard-1">
            <include file="Public:top"/>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>后台管理员列表</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                        </li>
                        <!-- //<li>
                            //<a>表格</a>
                        //</li> -->
                        <li>
                            <strong>后台管理员列表</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>基本 <small>分类，查找</small></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="table_data_tables.html#">选项1</a>
                                        </li>
                                        <li><a href="table_data_tables.html#">选项2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>用户名</th>
                                            <th>昵称</th>
                                            <th>用户类型</th>
                                            <th>邮箱</th>
                                            <th>联系电话</th>
                                            <th>注册时间</th>
                                            <th>注册IP</th>
                                            <th>账号激活时间</th>
                                            <th>最后一次登录时间</th>
                                            <th>登陆次数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <volist name="userdata" id="data">
                                    	<tr class="gradeA">
                                            <td class="center">{$data.id}</td>
                                            <td class="center">{$data.username}</td>
                                            <td class="center">{$data.nickname}</td>
                                            <td class="center">{$data.type}</td>
                                            <td class="center">{$data.email}</td>
                                            <td class="center">{$data.tel}</td>
                                            <td class="center">{$data.reg_time}</td>
                                            <td class="center">{$data.reg_ip}</td>
                                            <td class="center">2015/07/28</td>
                                            <td class="center">{$data.login_time}</td>
                                            <td class="center">{$data.login_num}</td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
                </div>
                <div>
                    <strong>Copyright</strong> H+ &copy; 2014
                </div>
            </div>

    </div>
    <!-- Mainly scripts -->
    <script src="__PUBLIC__/Admin/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.4.0"></script>
    <script src="__PUBLIC__/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="__PUBLIC__/Admin/js/plugins/jeditable/jquery.jeditable.js"></script>

    <!-- Data Tables -->
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="__PUBLIC__/Admin/js/hplus.js?v=2.2.0"></script>
    <script src="__PUBLIC__/Admin/js/plugins/pace/pace.min.js"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable();

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData([
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row"]);

        }
    </script>

</block>


        






